<h1>Trips for: <%= current_user.full_name %> </h1>
<hr>

<div class="">
  <%= link_to 'Make a trip', new_trip_path, class: '' %>
</div>


<% if @trips.any? %>
<div class="">
  <% @trips.each do |trip| %>
    <div class="">
      <h1 class=""><%= trip.name %></h1>
      <%= link_to 'Show Trip', trip_path(trip), class: '' %>
    </div>
  <% end %>
</div>
<% else %>
  <h3>You need to get out more!</h3>
<% end %>
