  <nav>
    <div class="nav-wrapper teal darken-2">
      <div class="material-icons">
        pin_drop
      </div>
      <%= link_to 'Trip Tracker', root_path, class: 'btn' %>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li></li>
        <li></li>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'btn' %></li>
      </ul>
    </div>
  </nav>
