@import 'materialize';
@import 'trips';
@import 'locations';
@import 'addresses';


a {
  color: white;
}

.btn {
  background: #00e5ff;
}

body {
  background-image: image-url('lake.jpg');
  background-size: cover;

}

.bg-format {
  background: rgba(144,164,174,.5)
}
